{{ if .Site.Data.homepage.about.enable }}
<section class="section rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="about__profile-picture col-12 col-md-6 align-self-center" style="text-align: center">
        <img
          class="lozad img-responsive"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .Site.Data.homepage.about.image1.x | absURL }}"
          alt="Leo Stepanewk"
          style="border-radius: 50%; width: 80%"
        />
      </div>
      <div class="col-12 col-md-6">
        <h2>{{ .Site.Data.homepage.about.title }}</h2>
        <p class="lead">
          {{ .Site.Data.homepage.about.content | safeHTML }}
        </p>
      </div>
    </div>
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="col-12 col-md-6">
        <p class="lead">
          {{ .Site.Data.homepage.about.content2 | safeHTML }}
        </p>
      </div>
      <div class="about__profile-picture col-12 col-md-6 align-self-center" style="text-align: center">
        <!-- data-srcset="{{ .Site.Data.homepage.about.image.x | absURL }} 1x, {{ .Site.Data.homepage.about.image._2x | absURL }} 2x" -->
        <img
          class="lozad img-responsive"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .Site.Data.homepage.about.image2.x | absURL }}"
          alt="M3 Check"
          style="width: 85%"
        />
      </div>
    </div>
  </div>
  
</section>
{{ end }}
